.Menu-container {
  position: absolute;
  top: 250px;
  user-select: none;
}

.Menu-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Menu-play-title {
  font-size: 64px;
  color: oldlace;
  font-family: 'Bungee', cursive;
  margin-bottom: 5vh;
}

.Menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: oldlace;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Signika Negative', sans-serif;
  cursor: pointer;
  background-color: #74A366;
  border-radius: 5px;
}

.Menu-button:hover {
  opacity: 0.7;
}

.Menu-button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: oldlace;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Signika Negative', sans-serif;
  cursor: pointer;
  background-color: #74A366;
  border-radius: 5px;
}

.Menu-fade-out {
  animation: fadeOut 0.7s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

.Menu-interactable {
  display: flex;
  align-items: center;
}

.Menu-difficulty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  margin-top: 5vh;
}

.Menu-difficulty-selection {
  color: oldlace;
  font-family: 'Signika Negative', sans-serif;
  font-size: 28px;
}

.Menu-difficulty-easy {
  color: #f0950e;
}

.Menu-difficulty-medium {
  color: #2E86AB;
}

.Menu-difficulty-hard {
  color: #B4417E;
}

.Menu-difficulty-underline {
  height: 2px; 
  background-color: oldlace;
  margin-top: 4px;
}

.Menu-difficulty-open-underline {
  animation: open-underline 0.4s forwards;
}

@keyframes open-underline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.Menu-instructions-title {
  color: lightgray;
  /* font-style: italic; */
  /* text-decoration: underline; */
  font-weight: 700;
  margin-top: 5vh;
  margin-bottom: 1vh;
  font-family: 'Signika Negative', sans-serif;
  font-size: 26px;
}

.Menu-instructions-text {
  color: lightgray;
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  width: 500px;
  padding-left: 12px;
  text-indent: -12px;
  margin: 3px 0px;
}

.Menu-play-subtitle {
  color: silver;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

.Menu-replay {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(215, 215, 215, 0.85);
  padding: 25px 50px;
  border-radius: 8px;
  border: 3px solid gray;
  margin-top: 30px;
  opacity: 0;
  animation: replay-fade-in 0.6s forwards;
  animation-delay: 0.6s;
}

@keyframes replay-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Menu-replay-title {
  font-family: 'Signika Negative', sans-serif;
  color: maroon;
  font-size: 36px;
}

.Menu-flags-correct {
  display: flex;
  align-items: center;
  margin: 20px 0px 10px 0px;
}

.Menu-flags-correct-icon {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/flag.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Menu-flags-correct-text {
  color: #2a2a2a;
  font-weight: 500;
  font-family: 'Signika Negative', sans-serif;
  font-size: 24px;
  margin-left: 5px;
}

.Menu-space-cleared {
  display: flex;
  align-items: center;
  margin: 10px 0px 20px 0px;
}

.Menu-space-cleared-icon {
  width: 30px;
  height: 30px;
  background-image: url(../../assets/shovel.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.Menu-space-cleared-text {
  color: #2a2a2a;
  font-weight: 500;
  font-family: 'Signika Negative', sans-serif;
  font-size: 24px;
  margin-left: 5px;
}

.Menu-replay-difficulty {
  margin-top: 20px;
}

.Menu-replay-difficulty-selection {
  font-size: 24px;
  color: #2a2a2a;
}

@media only screen and (max-width: 1024px) {
  .Menu-container {
    top: 150px;
  }

  .Menu-instructions-text {
    width: 85vw;
    margin: 5px 0px;
  }

  .Menu-replay {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 580px) {
  .Menu-play-title {
    font-size: 11vw;
  }
}