.Tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #74A366;
}


.Tile-enabled:hover {
  opacity: 0.7;
}

.Tile-light {
  background-color: #74A366;
  /* border-color: #74A366; */
}

.Tile-dark {
  background-color: #6A995C;
  /* border-color: #6A995C; */
}

.Tile-revealed-light {
  background-color: #FFEEA3;
  /* border-color: #FFEEA3; */
}

.Tile-revealed-dark {
  background-color: #F3E39C;
  /* border-color: #F3E39C; */
}

.Tile-mine {
  /* background-color: darkred; */
  background-image: url(mine.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.Tile-flag {
  background-image: url(flag.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.Tile-border {
  position: absolute;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.Tile-border-left {
  border-left: 2px solid #406348;
}

.Tile-border-right {
  border-right: 2px solid #406348;
}

.Tile-border-top {
  border-top: 2px solid #406348;
}

.Tile-border-bottom {
  border-bottom: 2px solid #406348;
}

.Tile-border-field-top-left {
  border-top-left-radius: 10px;
}

.Tile-border-field-top-right {
  border-top-right-radius: 10px;
}

.Tile-border-field-bottom-right {
  border-bottom-right-radius: 10px;
}

.Tile-border-field-bottom-left {
  border-bottom-left-radius: 10px;
}

.Tile-border-corner {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #406348;
}

.Tile-border-top-left {
  top: 0;
  left: 0;
}

.Tile-border-top-right {
  top: 0;
  right: 0;
}

.Tile-border-bottom-right {
  bottom: 0;
  right: 0;
}

.Tile-border-bottom-left {
  bottom: 0;
  left: 0;
}

.Tile-danger {
  font-weight: 700;
}

.Tile-danger-one {
  color: #F18F01;
}

.Tile-danger-two {
  color: #2E86AB;

}

.Tile-danger-three {
  color: #B4417E;

}

.Tile-danger-four {
  color: #C43E1C;
}

.Tile-danger-five {
  color: #3E442B;
}

.Tile-danger-six {
  color: #8E5601;
}

.Tile-danger-seven {
  color: #782B54;
}

.Tile-danger-eight {
  color: #1E5771;
}
