.Field-container {
  width: 600px;
  height: 600px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 50px;
  position: relative;
}

.Field-row {
  display: flex;
}

.Field-overlay {
  opacity: 0.75;
}