.Field-container {
  width: 675px;
  height: 675px;
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 80px;
  position: relative;
}

.Field-row {
  display: flex;
}

.Field-overlay {
  opacity: 0.75;
}

.Field-fade-in {
  animation: fadeIn 0.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media only screen and (max-width: 1024px) {
  .Field-container {
    width: 100vw;
    height: 100vw;
    max-width: 600px;
    max-height: 600px;
    margin-top: 40px;
  }
}